[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pylint = "*"
pytest = "*"
sh = "*"
docker-compose = "*"
psycopg2 = "*"

[packages]
elasticsearch = "*"

[requires]
python_version = "3.7"
